{% extends 'myfirstapp/base.html' %}


{% block navbar_content%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!--<ul>-->
  <!--<li><a class="active" href="{% url 'class_record_list'%}">Class Record List</a></li>-->
  <!--<li><a href="{% url 'upload_record' %}">Upload</a></li>-->
<!--</ul>-->
{% endblock %}


{% block content%}
<h1> Class Based Record DetailView </h1>

<table class="table">
    <th>List</th>
    <th>Category</th>
    <th>Title</th>
    <th>Description</th>
    <th>Picture</th>
    <th>Download</th>


<tr>
    <td>{{record.list}}</td>
    <td>{{record.category}}</td>
    <td>{{record.title}}</td>
    <td>{{record.description}}</td>

    <td style="height:100"><img src="{{record.picture.url}}" height="50" width="50" /></td>
    <td><a href="{{record.picture.url}}">clicca per download</a></td></br>


</tr>
</table>
<a role="button" class="btn btn-primary" href="{% url 'class_record_update' record.pk %}">Edit</a>
<a role="button" class="btn btn-danger" href="{% url 'class_record_delete' record.pk %}">Delete</a>

{% endblock %}